@font-face {
    font-family: 'bold';
    src: url('./fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Font2';
    src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
}
body{
    margin: 0%;
    padding: 0%;
}
* {
    font-family: 'Font2';
}

.one{
    display: flex;
    padding-left: 15px;
}
.two{
    color: #00171c;
    margin-left: 150px;
    background-color: #00c3f7;
    border-radius: 5px;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
    width: 175px;
}
p{
    font-size: 18px;
}
.three{
    color: #f9fcfd;
    margin-left: 170px;
    background-color: #00171c;
    border-radius: 5px;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
    width: 150px;
}
a{
    text-decoration: none;
    color: #00171c;
    
}
.aa{
    text-decoration: none;
    color: #00c3f7;
}
p.top {
    font-family: bold;
    font-size: 32px;
    background-color: #00171c;
    color: #00c3f7;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 15px;
}

span {
    font-family: Font2;
    background-color: #00171c;
    font-size: 18px;
    color: #00c3f7;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 15px;
}

/* a:link{
    color: #00171c;
}
a:visited{
    color: #00c3f7;
}
a{
    text-decoration: none;
    font-family: font2;
    font-size: 16px;
    font-weight: 500;
    padding-right: 15px;
    text-align: center;
}
div.nav{
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding-left: 900px;
} */

h1 {
    background-color: #ffffff;
    background-color: hsla(0, 100%, 100%, 0.5);
    color: #64645A;
    padding-left: 30px;
}

.tag>a {
    display: flex;
    width: 280px;
    height: 10px;
    text-decoration: none;
    padding-left: 30px;
    margin: 1% auto;
    font-size: 18px;
    background-color: #00171c;
    color: #00c3f7;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
    border-radius: 15px;
}


